<div class="social area-hover">
    <ul>
        <li><a href="https://wa.me/573207512090?text=Buenas,%20quisiera%20hacer%20una%20cotización" target="_blank" class="whatsapp" rel="noopener"><span
                    class="aparecer a-izquierda p-3 fw-bold cc_cursor bg-1 m-1 color-blanco rounded sombra-2">
                    Escribenos</span> <img class="boton-whatsapp"
                    style="width: 50px; height: auto; filter: drop-shadow(0px 0px 1px black); transition: all ease .2s;"
                    alt="whatsapp" src="/img/whatsapp.svg"> </a></li>
    </ul>
</div>
<footer></footer>
<script src="/js/scripts.js"></script>