<nav class="navbar navbar-expand-lg navbar-dark bg-1 p-0">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/img/logo.png" alt="logo publi white"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li id="home" class="nav-item pt-3 pb-3 bg-2-hover">
          <a class="nav-link color-blanco fw-bold" aria-current="page" href="/">Inicio</a>
        </li>
        <li id="quienes" class="nav-item pt-3 pb-3 bg-2-hover">
          <a class="nav-link color-blanco fw-bold" href="/quienes-somos-publiwhite">Quiénes somos</a>
        </li>
        <li id="servicios" class="nav-item pt-3 pb-3 bg-2-hover">
          <a class="nav-link color-blanco fw-bold" href="/servicios-publiwhite">Servicios</a>
        </li>
        <li id="contacto" class="nav-item pt-3 pb-3 bg-2-hover">
          <a class="nav-link color-blanco fw-bold" href="/contacto-publiwhite">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
