<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container">
    <a class="navbar-brand" href="/">PUBLI WHITE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/"><i class="fas fa-home"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quienes-somos-publiwhite"><i class="fas fa-building"></i> Quienes Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/servicios-somos-publiwhite"><i class="fas fa-cogs"></i> Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto-somos-publiwhite" tabindex="-1" aria-disabled="true"><i
              class="fas fa-envelope"></i> Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>